@font-face {
    font-family: "iconfont"; /* Project id 3952428 */
    src: url('//at.alicdn.com/t/c/font_3952428_ncr3p5jiwf.woff2?t=1678994042279') format('woff2'),
    url('//at.alicdn.com/t/c/font_3952428_ncr3p5jiwf.woff?t=1678994042279') format('woff'),
    url('//at.alicdn.com/t/c/font_3952428_ncr3p5jiwf.ttf?t=1678994042279') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-tongyi:before {
    content: "\e617";
}

.icon-zhifubaozhifu:before {
    content: "\e612";
}

.icon-weixin:before {
    content: "\e73b";
}

.icon-fanhui:before {
    content: "\e600";
}

.icon-weibo:before {
    content: "\e882";
}

.icon-tianqi:before {
    content: "\e623";
}

.icon-a-wodebaoxian3x:before {
    content: "\e60d";
}

.icon-weibiaoti556:before {
    content: "\e63d";
}

.icon-building:before {
    content: "\e603";
}

.icon-pingfen:before {
    content: "\e61d";
}

.icon-weizhi:before {
    content: "\e60f";
}

.icon-taiyang:before {
    content: "\e635";
}

.icon-aixin:before {
    content: "\e8ab";
}

.icon-iconfontxiaoxidianji:before {
    content: "\e634";
}

.icon-xinyongqia:before {
    content: "\e785";
}

.icon-mingxinghuodong:before {
    content: "\e8b3";
}

.icon-icon_yongche:before {
    content: "\e650";
}

.icon-fabu:before {
    content: "\e615";
}

.icon-guojijipiao:before {
    content: "\e89b";
}

.icon-arrow-down:before {
    content: "\e610";
}

.icon-input_del:before {
    content: "\e6f0";
}

.icon-icon_suosou:before {
    content: "\e71e";
}

