@font-face {
    font-family: "iconfont"; /* Project id 3952428 */
    src: url('//at.alicdn.com/t/c/font_3952428_q9msw9xmo7.woff2?t=1678868279060') format('woff2'),
    url('//at.alicdn.com/t/c/font_3952428_q9msw9xmo7.woff?t=1678868279060') format('woff'),
    url('//at.alicdn.com/t/c/font_3952428_q9msw9xmo7.ttf?t=1678868279060') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-guojijipiao:before {
    content: "\e89b";
}

.icon-arrow-down:before {
    content: "\e610";
}

.icon-xiaoxi1:before {
    content: "\e614";
}

.icon-input_del:before {
    content: "\e6f0";
}

.icon-icon_suosou:before {
    content: "\e71e";
}
