// 变量
$font-size-mini: 12px;
$font-size-common: 14px;
$font-size-medium: 16px;
$font-size-big: 20px;

$color-primary: #1E90FF;
$background-primary: #ffffff;

/* 搜索框高度 */
$input-height: 1rem;

/* 菜单栏宽度 */
$menu-width: 91.73333vw;

/* 底部tab-bar高度（控制页面内容靠底不被遮挡） */
$tab-bar-height: 1.8rem;